

table{
    margin: auto;
    border-collapse: collapse;
    color: beige;
}
td{
    width: 100px;
    height: 100px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    color: black;
    text-align: center;
    font-size: 80px;
}

tr:nth-child(odd) td:nth-child(even){
    background-color: lightgray;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: lightgray;
}


th{
    width: 50px;
    height: 50px;
    background-color: rgb(43, 42, 42);
}
